/* You can add global styles to this file, and also import other style files */
.body{
    font-family:sans-serif;
}
.container{
    margin-left:5%;
    margin-right:5%;
}
.cform{
    text-align:center;
    display:flex;
    margin:auto;
    width:300px;
    flex-direction:column;
    

}
.form-input{
    height:35px;
    border:  1px solid bluevoilet;
    padding-left:10px;
    margin-bottom:20px;
   
}
.form-button{
    height:35px;
    border: 1px solid bluevoilet;
    cursor:pointer;
}